* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    height: 40px;
    width: 100%;
    background-color: #333;
    color: #eee;
    position: fixed;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
    float: left;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
}

nav li:hover {
    background-color: #444;
}

nav a#openup {
    display: none;
}

@media screen and (max-width: 980px) {
    nav {
        height: auto;
        border-bottom: 0;
    }

    nav ul {
        display: none;
        height: auto;
    }

    nav li {
        width: 100%;
        float: left;
        position: relative;
    }

    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        background: #333;
        border-bottom: 1px solid #555;
    }

    nav a:hover {
        background: #444;
    }

    nav a#openup:after {
        content: '|||';
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        /* IE 9 */
        -webkit-transform: rotate(-90deg);
        /* Safari and Chrome */
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 20px;
    }

    nav a#openup {
        display: block;
        background-color: #333;
        width: 100%;
        position: relative;
    }
}

.cf:before,
.cf:after {
    content: '';
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(even) {
    background-color: #f4f4f4;
}

section:nth-child(odd) {
    background-color: #ccc;
}

section::before {
    content: attr(data-text);
    color: #262626;
    font-size: 8rem;
    font-weight: bold;
}

@media screen and (max-width: 680px) {
    section::before {
        font-size: 5rem;
    }
}

@media screen and (max-width: 480px) {
    section::before {
        font-size: 3rem;
    }
}
